body {
  border-color: rgb(43, 43, 88);
  font-family: Arial, Helvetica, sans-serif;
}
.top-area {
  width: 90vw;
  margin: 10px auto;
  text-align: center;
  padding: 5px 4px;
  box-shadow: 0.2rem 0.4rem 0.8rem 0 rgba(0, 17, 14, 0.377);
}

.top-size {
  font-size: 40px;
  color: blue;
}
button {
  width: 90px;
  height: 50px;
  background-color: rgb(84, 150, 155);
  color: white;
  border-radius: 10px;
  font-size: 1.2rem;

}

button:hover {
  background-color: rgb(62, 62, 151);
  cursor: pointer;
}
.singer-pic {
  border-radius: 20px;
  /* margin-right: 40rem; */
}
.singer-table {
  width: 90vw;
  margin: 10px auto;
  color: rgba(3, 17, 143, 0.986);
}
.singer-table td {
  padding: 5px 10px;
  text-align: left;
}

.singer-table tr{
  box-shadow: 0.2rem 0.4rem 0.8rem 0 rgba(0, 17, 14, 0.377);
  transition: 150ms;
}

.singer-table tr:hover{
  width: 95vw;
  height: 250px;
  box-shadow: 0.2rem 0.4rem 0.8rem 0 rgba(0, 17, 14, 0.377);
  transition: 150ms;
  cursor: pointer;

}

.quality-icon {
  width: 100px;
  height: 100px;
  margin-left: 30rem;
}
.quality-icon:hover {
  width: 80px;
  height: 80px;
}
.name-size {
  width: 300px;
  font-size: 25px;
}

img {
  width: 250px;
  height: 200px;
}
