body{
  background-color: aliceblue;
}

.click-these-area{
  width: 290px;
  box-shadow: 0 0.8rem 0.8rem 0 green;
}
.click-these-area:hover{
  opacity: 0.8;
}

.green-top{
  background-color: green;
  color: white;
  padding: 3px 25px;
}

.highlight:hover {
  font-size: 20px;
  cursor: pointer;

}
.it-goes-here-area{
  width: 280px;
  position: absolute;
  right: 0px;
  bottom: 0px;
  box-shadow: 0 0.8rem 0.8rem 0 green;
}

.red-top{
  background-color: red;
  color: white;
  padding: 3px 25px;
}

img{
  width: 90px;
  height: 60px;
}