.top-table{
    width: 90vw;
    margin: 10px auto;
}
.top-table tr{
    font-size: 30px;
    color: black;
    width: 300px;
    box-shadow: 0.2rem .4rem .8rem 0 rgba(77, 235, 208, 0.377);
    transition: 150ms;
}
.top-table td:hover{
    background-color: rgba(0, 255, 234, 0.966);
    cursor: pointer;

}
.top-table td{
    width: 33%;
     border: 5px solid white;
     padding: 5px 10px;
     text-align: center;
}

.top-table img{
    height: 100px;
    width: 100px;
    border-radius: 20px;
}
.bottom-table{
    /* border: 10px solid black; */
    width: 90vw;
    margin: 10px auto;
   
    bottom: 0px;
}
.bottom-table tr{
    box-shadow: 0.2rem 0.4rem 0.8rem 0 rgba(77, 235, 208, 0.377);
    transition: 150ms;
}
.bottom-table tr:hover{
    width: 95vw;
    height: 70px;
    box-shadow: 0.2rem 0.4rem 0.8rem 0 rgba(77, 235, 208, 0.377);
    transition: 150ms;
    cursor: pointer;
    
}
.bottom-table td{
    font-size: 20px;
    text-align: center;
}