* {
  padding: 3px auto;
  text-align: center;
  box-sizing: border-box;
  font-size: 16px;
}
.gold {
  background-color: gold;
}
.silver {
  background-color: silver;
}
.bronze {
  background-color: #b08d57;
}
.top-area {
  width: 100vw;
  height: 120px;
  float: left;
  margin: 13px 5px;
  border-radius: 30px;
}
.top-area:hover {
  opacity: 0.8;
  border: 5px ridge black;
}
.bottom-area {
  float: left;
  width: 100wv;
  margin: 10px 0px;
  font-size: 30px;
  border-radius: 20px;
}
.bottom-area:hover {
  opacity: 0.8;
  border: 5px ridge black;
  border-radius: 20px;
}

img:hover {
  border: 2px ridge white;
  border-radius: 5px;
}
hr {
  border: 2px ridge gray;
}
.top-area {
  width: 400px;
}
.btn-lg {
  width: 250px;
}
